@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Light'), local('JetBrainsMono-Light'),
        url('JetBrainsMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'), local('JetBrainsMono-Bold'),
        url('JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Italic'), local('JetBrainsMono-Italic'),
        url('JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), local('JetBrainsMono'),
        url('JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
